<div  style="margin-left: 15px; margin-right: 15px;">
<% if current_user.has_student? and not current_user.student.has_completed_form %>
  <span style="color: #ff0000;">
    You haven't filled out the form yet.
    <%= link_to "Fill it out", ENV['FORM_URL'] %>
  </span>
<% end %>

<h1>Admin Home</h1>

<button style= "float: right;" onclick="popTable()"> View Empty Rooms By Dorm </button>
<%= button_to 'Download Non-participants', {action: "downloadNonParticipants", controller: "static_pages"}, {class: 'dashboard-button'} %>
<%= button_to 'Download Placements', {action: "downloadPlacements", controller: "static_pages"}, {class: 'dashboard-button'} %>


<%= render partial: "static_pages/dorm_table" %>

<div>
  <h4>Upload Roster</h4>
  <p> <b> Please upload a csv file in format as follows (header line followed by example student line): </b> <br>last_name,first_name,email,class_rank,room_draw_number,dorm,room,preplaced <br> 
  Einstein,Albert,aeinstein@g.hmc.edu,senior,1,,, <br>
  Curie,Marie,mcurie@g.hmc.edu,senior,3,East,106,preplaced</p>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "Upload" %>
  <% end %>
</div> 

<div>
  <h4>Place Frosh</h4>
  <p> <b> Please upload a csv file in format as follows (header line followed by example student line): </b> 
  <br>Dorm, Room<br> 
  EA, 112</p>
  <%= form_tag({action: "create_frosh"}, multipart: true) do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "Upload" %>
  <% end %>
</div> 

<br>
<div>
  <h4>Schedule Draw Period</h4>

  <% if @start != nil %>
    <p>Currently scheduled for <b><%= @start %></b> to <b><%= @end %></b>.
      <%= link_to 'Cancel', @draw_period, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>

  <%= render 'draw_periods/form', draw_period: @draw_period %>

  <% if @start != nil %>
    <p style="color: gray">Last scheduled by <b><i><%= lastUpdater(@draw_period) %></i></b>.</p>
  <% end %>
</div>
</div>
<script>
  $(".alert").fadeOut(8000);
</script>
