<%= stylesheet_link_tag 'static_pages' %>
<%= javascript_include_tag 'static_pagesTest' %>


<% if current_user == nil %>
    <%= render partial: "logged_out_home" %>
<% elsif current_user.is_admin %>
    <%= render "static_pages/admin_home" %>
<% else %>
    <center> <h1> Welcome to Room Draw!</h1>
    Select a dorm to see all available rooms in that dorm. </br>
    <button onclick="popTable()"> Click here to see all empty rooms </button> </center>

    <%= render partial: "dorm_table" %>
    <%= render partial: "dorm_map" %>
<% end %>




