<%= stylesheet_link_tag 'static_pages' %>
<%= javascript_include_tag 'static_pagesTest' %>


<img src="/assets/harvey-mudd-college-evacuation-sites-page-001.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="Case" href="/dormLookup?name=Case" shape="rect" coords="1816,384,1987,514" onmouseover="popCase(event);" onmouseout="popCase(event);" 
     />
    <area alt="" title="Linde" href="/dormLookup?name=Linde" shape="rect" coords="1937,243,2059,382" onmouseover="popLinde(event);" onmouseout="popLinde(event);" />
    <area alt="" title="Drinkward" href="/dormLookup?name=Drinkward" shape="rect" coords="1775,148,1928,265" onmouseover="popDrinkward(event);" onmouseout="popDrinkward(event);" />
    <area alt="" title="Sontag" href="/dormLookup?name=Sontag" shape="rect" coords="1645,148,1766,265" onmouseover="popSontag(event);" onmouseout="popSontag(event);" />
    <area alt="" title="Atwood" href="/dormLookup?name=Atwood" shape="rect" coords="1640,382,1793,508" onmouseover="popAtwood(event);" onmouseout="popAtwood(event);" />
    <area alt="" title="North" href="/dormLookup?name=North" shape="rect" coords="1311,157,1446,279"  onmouseover="popNorth(event);" onmouseout="popNorth(event);" />
    <area alt="" title="East" href="/dormLookup?name=East" shape="rect" coords="1311,328,1446,450"  onmouseover="popEast(event);" onmouseout="popEast(event);" />
    <area alt="" title="South" href="/dormLookup?name=South" shape="rect" coords="1149,283,1293,153"  onmouseover="popSouth(event);" onmouseout="popSouth(event);" />
    <area alt="" title="West" href="/dormLookup?name=West" shape="rect"  coords="1149,324,1289,454" onmouseover="popWest(event);" onmouseout="popWest(event);" />
</map>




<!-- Hidden popup div goes here
	Shows up when hovering over dorms -->
<div id= "case" class= "dorms">
	There are approximately <% dorm = Dorm.find_by_name("Case") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
    With a room draw number of 12, you can pull into approximately 25 rooms.
</div>

<div id= "linde" class = "dorms">
This is Linde </br>
There are approximately <% dorm = Dorm.find_by_name("Linde") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
</div>

<div id= "sontag" class = "dorms">
This is Sontag </br>
There are approximately <% dorm = Dorm.find_by_name("Sontag") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
</div>

<div id= "drinkward" class = "dorms">
This is Drinkward </br>
There are approximately <% dorm = Dorm.find_by_name("Drinkward") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
</div>

<div id= "atwood" class = "dorms">
This is Atwood </br>
There are approximately <% dorm = Dorm.find_by_name("Atwood") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
</div>

<div id= "south" class = "dorms">
This is South </br>
There are approximately <% dorm = Dorm.find_by_name("South") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
</div>
 
<div id= "north" class = "dorms">
This is North </br>
There are approximately <% dorm = Dorm.find_by_name("North") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
</div>

<div id= "east" class = "dorms">
This is East </br>
There are approximately <% dorm = Dorm.find_by_name("East") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
</div>

<div id = "west" class = "dorms">
This is West </br>
There are approximately <% dorm = Dorm.find_by_name("West") %>
                            <%= dorm.unassigned_rooms_number %> empty rooms in Case. </br>
</div>

<table style="width:100%">
<tr>
<th>Dorm Name</th>
<th>Number of Empty Rooms</th>
</tr>
<tr>
  <td>Case</td>
  <td> <% dorm = Dorm.find_by_name("Case") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
<tr>
  <td>Linde</td>
  <td> <% dorm = Dorm.find_by_name("Linde") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
<tr>
  <td>Sontag</td>
  <td> <% dorm = Dorm.find_by_name("Sontag") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
<tr>
  <td>Drinkward</td>
  <td> <% dorm = Dorm.find_by_name("Drinkward") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
<tr>
  <td>Atwood</td>
  <td> <% dorm = Dorm.find_by_name("Atwood") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
<tr>
  <td>South</td>
  <td> <% dorm = Dorm.find_by_name("South") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
<tr>
  <td>North</td>
  <td> <% dorm = Dorm.find_by_name("North") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
<tr>
  <td>East</td>
  <td> <% dorm = Dorm.find_by_name("East") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
<tr>
  <td>West</td>
  <td> <% dorm = Dorm.find_by_name("West") %>
       <%= dorm.unassigned_rooms_number %> </td>
</tr>
</table>




