<%= form_with(model: room_assignment, local: true) do |form| %>
  <% if room_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_assignment.errors.count, "error") %> prohibited this room_assignment from being saved:</h2>

      <ul>
      <% room_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :student_id %>
    <%= form.collection_select :student_id, Student.all, :id, :student_name %>
  </div>

  <div>
    <%= form.label :room_id %>
    <%= form.grouped_collection_select :room_id, Dorm.all, :rooms, :name, :id,:number, id: :room_id %>
  </div> 


  <div>
    <%= form.label :assignment_type %>
    <%= form.select :assignment_type, RoomAssignment.assignment_types.keys.to_a %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
