<h1>Room Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Pull Number</th>
      <th>Room</th>
      <th>Dorm Name</th>
      <th>Room Number</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @room_assignments.each do |room_assignment| %>
      <tr>
        <% if (room_assignment.pull) %>
          <td><%= student_name(room_assignment) %></td>
          <td><%= room_assignment.pull.student.room_draw_number %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= room_assignment.room.name %></td>
        <td><%= room_assignment.room.dorm.name %></td>
        <td><%= room_assignment.room.number %></td>
        <td><%= link_to 'Show', room_assignment %>
            <%= link_to 'Edit', edit_room_assignment_path(room_assignment) %>
            <%= link_to 'Destroy', room_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room Assignment', new_room_assignment_path %>
