<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= student_name(@room_assignment) %>
</p>

<p>
  <strong>Pull Number:</strong>
  <% if (@room_assignment.pull) %>
  	<%= @room_assignment.pull.student.room_draw_number %>
  <% else %>
  	<%= "No Associated Pull" %>
  <% end %>
</p>

<p>
  <strong>Room:</strong>
  <%= @room_assignment.room.dorm.name + " " + @room_assignment.room.number %>
</p>

<%= link_to 'Edit', edit_room_assignment_path(@room_assignment) %> |
<%= link_to 'Back', room_assignments_path %>
