<%= form_with(model: pull, local: true) do |form| %>
  <%= text_field_tag(:redirect_path, value=(@dorm.nil? ? nil : dorm_path(@dorm)), class: "hidden") %>
  <% if pull.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pull.errors.count, "error") %> prohibited this pull from being saved:</h2>

      <ul>
      <% pull.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <!-- TODO: We don't wanna display room_draw_numner.
         So, we need to join the table of student and user and get the email address -->
    <%= current_user.email  %>
    <% if not current_user.is_admin? %>
      <%= form.hidden_field :student_id, :value => current_user.student.id  %>
    <% end %>
  </div>



  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :pull_message %>
  </div>

  <% if current_user.student %>
    <% if current_user.student.class_rank == 'senior' %>
      <div class="field">
        <%= form.label :senior_round %>
        <%= form.number_field :round, id: :pull_round %> 
      </div>
    <% end %>
  <% end %>
  
  <%= field_set_tag 'Room Assignments' do %>
  <p> Please fill out the following fields with <b><i>your email and the room you want to pull</i></b>, as well as the emails and rooms of other students you want to pull with you.</br></br>
    <i>Note: Rooms that have an alphabetical number are represented with a decimal. (ie. 103A is 103.1, 103B is 103.2, etc...)</i></br></br></p>

    <%= form.fields_for :room_assignments do |room_assignment| %>
      <div>
        <%= room_assignment.label :student_id %>
        <%= room_assignment.collection_select :student_id, @students, :id, :email, id: :room_assignment_student_id, :include_blank => true %>
      </div>
      <div>
        <%= room_assignment.label :room_id %>
        <%= room_assignment.collection_select :room_id, @rooms, :id, :name, id: :room_assignment_room_id, :include_blank => true %>
      </div>
          </br>
      <div>
        <%= room_assignment.hidden_field :assignment_type, :value => 'pulled' %>
      </div>
      
    <% end %>
  <% end %> 

<input type="hidden" name="from_dorm" value=<%=@dorm.id %>>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>