<%= form_with(model: pull, local: true) do |form| %>
  <% if pull.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pull.errors.count, "error") %> prohibited this pull from being saved:</h2>

      <ul>
      <% pull.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <!-- TODO: We don't wanna display room_draw_numner.
         So, we need to join the table of student and user and get the email address -->
    <%= form.text_field :student_id, :value => current_user.email, :readonly => true  %>
    <%= form.hidden_field :student_id, :value => current_user.student.id  %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
<!--     TODO: We don't wanna display room_draw_numner.
         So, we need to join the table of student and user and get the email address -->
    <%= form.text_field :room_id, :id => 'room_number', :readonly => true %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :pull_message %>
  </div>

  <% if current_user.student %>
    <% if current_user.student.class_rank == 'senior' %>
      <div class="field">
        <%= form.label :senior_round %>
        <%= form.number_field :round, id: :pull_round %> 
      </div>
    <% end %>
  <% end %>
  
  <%= field_set_tag 'Room Assignments' do %>
  <p> Please fill out the following fields with <i>your</i> email and the room you want to pull, as well as the emails and rooms of other students you want to pull with you. </br>If you do not want to pull in anyone else, please leave the remaining fields blank. </br></p>

    <%= form.fields_for :room_assignments do |room_assignment| %>
      <div>
        <%= room_assignment.label :student_id %>
        <%= room_assignment.collection_select :student_id, @students, :id, :email, id: :room_assignment_student_id, :include_blank => true %>
      </div>
      <div>
        <%= room_assignment.label :room_id %>
        <%= room_assignment.collection_select :room_id, @rooms, :id, :name, id: :room_assignment_room_id, :include_blank => true %>
      </div>
          </br>
      <div>
        <%= room_assignment.hidden_field :assignment_type, :value => 'pulled' %>
      </div>
      
    <% end %>
  <% end %> 


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>