<%= form_with(model: pull, local: true) do |form| %>
  <%= text_field_tag(:redirect_path, value=(@dorm.nil? ? nil : dorm_path(@dorm)), class: "hidden") %>
  <% if pull.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pull.errors.count, "error") %> prohibited this pull from being saved:</h2>

      <ul>
      <% pull.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag 'Room Assignments' do %>
  <p> Please fill out the following fields with <b><i>your email and the room you want to pull</i></b>, as well as the emails and rooms of other students you want to pull with you.</br></br>
    <i>Note: Rooms that have an alphabetical number are represented with a decimal. (ie. 103A is 103.1, 103B is 103.2, etc...)</i></br></br></p>
		
		<% room = 0 %>
		<% student = -1 %>
    <%= form.fields_for :room_assignments do |room_assignment| %>
    	<% student += 1 %>
    	<% if student >= @selected_rooms[room][1] %>
    		<% room += 1 %>
    		<% student = 0 %>
    	<% end %>
    	<% if student == 0 %>
    		<p><b>Room</b>: <%= @selected_rooms[room][0] %></p>
    	<% end %>

    	<%= room_assignment.hidden_field :room_id, :value => @selected_rooms[room][2] %>

      <div>
        <%= room_assignment.label :student_id %>
        <% if not current_user.student.nil? %>
          <%= room_assignment.collection_select :student_id, @students, :id, :student_name_and_number, {id: :room_assignment_student_id, :selected => current_user.student.id.to_s}, {:class => "room_assignment_student_id"} %>
        <% else %>
          <%= room_assignment.collection_select :student_id, @students, :id, :student_name_and_number, {id: :room_assignment_student_id}, {:class => "room_assignment_student_id"} %>
        <% end %>
      </div>

      <div>
        <%= room_assignment.hidden_field :assignment_type, :value => 'pulled' %>
      </div>
    <% end %>
  <% end %> 

  <div class="field">
    <%= form.label :student_id, 'Pull as ' %>
    <% if not current_user.student.nil? %>
      <%= form.collection_select :student_id, @students, :id, :format_number, {:selected => current_user.student.id.to_s}, {:id => "student_id_select"} %>
    <% else %>
      <%= form.collection_select :student_id, @students, :id, :format_number, {:id => "student_id_select"} %>
    <% end %>
  </div>

	<div class="field">
		<%= form.label :senior_round %>
		<%= form.number_field :round, id: :round %> 
	</div>



  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :pull_message %>
  </div>

	<input type="hidden" name="from_dorm" value="<%=@dorm.id %>">

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
