<p id="notice"><%= notice %></p>

<style type="text/css">
/*Following Modal was taken from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
}
/* The Close Button */
.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}
</style>

<p>
  <strong>Name:</strong>
  <%= @dorm.name %>
</p>

<%= link_to 'Edit', edit_dorm_path(@dorm) %> |
<%= link_to 'Back', dorms_path %>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Pull request initiated</h2>
    </div>

    <div class="modal-body">
    <p>You have begun a pull request for this room</p>
    <p>The following form must be filled out in order to pull a room:</p>
      <div class="form-group">
        <label for="usr">Room number</label>
        <input type="text" class="form-control" id="usr" required>
      </div>

      <div class="form-group">
        <span>How many people are you pulling in?</br></span>
        <label for="0-roommates"> <input type="radio" id="0-roommates" name="roommate-nums" value="0" required> 0 </label>
        <label for="1-roommates"> <input class="require-if-active" type="radio" id="1-roommates" name="roommate-nums" value="1" data-require-pair="#roommate-1"> 1 </label>
        <label for="2-roommates"> <input class="require-if-active" type="radio" id="2-roommates" name="roommate-nums" value="2" data-require-pair="#roommate-2"> 2 </label>
        <label for="3-roommates"> <input class="require-if-active" type="radio" id="3-roommates" name="roommate-nums" value="3" data-require-pair="#roommate-3"> 3 </label>
        <label for="4-roommates"> <input class="require-if-active" type="radio" id="4-roommates" name="roommate-nums" value="4" data-require-pair="#roommate-4"> 4 </label>
        <label for="5-roommates"> <input class="require-if-active" type="radio" id="5-roommates" name="roommate-nums" value="5" data-require-pair="#roommate-5"> 5 </label>

        <div id="roommate-1" style="display: none">
          Roommate's Name: <input type="text" id="name">
        </div>

        <div id="roommate-2" style="display: none">
          Roommate 1: <input type="text" id="name">
          Roommate 2: <input type="text" id="name">
        </div>

        <div id="roommate-3" style="display: none">
          Roommate 1: <input type="text" id="name">
          Roommate 2: <input type="text" id="name">
          Roommate 3: <input type="text" id="name">
        </div>

        <div id="roommate-4" style="display: none">
          Roommate 1: <input type="text" id="name">
          Roommate 2: <input type="text" id="name">
          Roommate 3: <input type="text" id="name">
          Roommate 4: <input type="text" id="name">
        </div>

        <div id="roommate-5" style="display: none">
          Roommate 1: <input type="text" id="name">
          Roommate 2: <input type="text" id="name">
          Roommate 3: <input type="text" id="name">
          Roommate 4: <input type="text" id="name">
          Roommate 5: <input type="text" id="name">
        </div>
      </div>


      <div class="form-group">
        <input type="submit" class="submit-btn">
      </div>
    </div>
  </div>  <!-- End of modal content -->

</div>  <!-- End of modal -->

<script type="text/javascript">
var data = {
  "room_0": {
    "bounding_box": [
      0.1603,
      0.27373,
      0.08242,
      0.06353
    ],
    "num": "101",
  },
  "room_1": {
    "bounding_box": [
      0.1603,
      0.34,
      0.08242,
      0.06353
    ],
    "num": "102",
  },
  "room_2": {
    "bounding_box": [
      0.1603,
      0.40588,
      0.08242,
      0.06392
  ],
  "num": "103",
  },
  "room_3": {
    "bounding_box": [
      0.1603,
      0.47216,
      0.08242,
      0.06353
  ],
  "num": "104",
  },
  "room_4": {
    "bounding_box": [
      0.17727,
      0.53843,
      0.06545,
      0.05922
  ],
  "num": "105",
  },
  "room_5": {
    "bounding_box": [
      0.17727,
      0.60039,
      0.06545,
      0.05686
  ],
  "num": "106"
  },
  "room_6": {
    "bounding_box": [
      0.17727,
      0.66,
      0.06545,
      0.05922
  ],
  "num": "107",
  },
  "room_7": {
    "bounding_box": [
      0.17727,
      0.72157,
      0.06545,
      0.05725
  ],
  "num": "108",
  },
  "room_8": {
    "bounding_box": [
      0.27121,
      0.81608,
      0.04485,
      0.08392
  ],
  "num": "118",
  },
  "room_9": {
    "bounding_box": [
      0.31758,
      0.81569,
      0.04455,
      0.08471
  ],
    "num": "119",
  },
  "room_10": {
    "bounding_box": [
      0.36364,
      0.81608,
      0.04636,
      0.08392
  ],
  "num": "120",
  },
  "room_11": {
    "bounding_box": [
      0.41152,
      0.81569,
      0.04576,
      0.08471
  ],
  "num":"121",
  },
  "room_12": {
    "bounding_box": [
      0.45879,
      0.81569,
      0.0497,
      0.10627
  ],
  "num": "122",
  },
  "room_13": {
    "bounding_box": [
      0.51,
      0.81608,
      0.0497,
      0.10588
  ],
  "num": "123",
  },
  "room_14": {
    "bounding_box": [
      0.56091,
      0.81569,
      0.05,
      0.10627
  ],
  "num": "124",
  },
  "room_15": {
    "bounding_box": [
      0.61212,
      0.81608,
      0.04848,
      0.10588
  ],
    "num": "125",
  },
  "room_16": {
    "bounding_box": [
      0.74727,
      0.63922,
      0.08394,
      0.06275
  ],
  "num": "140",
  },
  "room_17": {
    "bounding_box": [
      0.74727,
      0.57333,
      0.08394,
      0.06353
  ],
  "num": "141",
  },
  "room_18": {
    "bounding_box": [
      0.74727,
      0.50706,
      0.08394,
      0.06353
  ],
  "num": "142",
  },
  "room_19": {
    "bounding_box": [
      0.74727,
      0.43922,
      0.08394,
      0.0651
  ],
  "num": "143",
  },
  "room_20": {
    "bounding_box": [
      0.74727,
      0.37922,
      0.06697,
      0.05765
  ],
  "num": "144",
  },
  "room_21": {
    "bounding_box": [
      0.74727,
      0.31765,
      0.06697,
      0.05922
  ],
  "num": "145",
  },
  "room_22": {
    "bounding_box": [
      0.74727,
      0.25765,
      0.06697,
      0.05804
  ],
  "num": "146",
  },
  "room_23": {
    "bounding_box": [
      0.74727,
      0.19647,
      0.06697,
      0.05922
  ],
  "num": "147",
  },
  "room_24": {
    "bounding_box": [
      0.67394,
      0.0749,
      0.04303,
      0.08784
  ],
  "num": "148",
  },
  "room_25": {
    "bounding_box": [
      0.62788,
      0.0749,
      0.04485,
      0.08745
  ],
  "num": "149",
  },
  "room_26": {
    "bounding_box": [
      0.5803,
      0.0749,
      0.04636,
      0.08784
  ],
  "num": "150",
  },
  "room_27": {
    "bounding_box": [
      0.53545,
      0.0749,
      0.04333,
      0.08745
  ],
  "num": "151",
  },
  "room_28": {
    "bounding_box": [
      0.48424,
      0.05294,
      0.05,
      0.10941
  ],
  "num": "152",
  },
  "room_29": {
    "bounding_box": [
      0.43303,
      0.05255,
      0.05,
      0.1102
  ],
  "num": "153",
  },
  "room_30": {
    "bounding_box": [
      0.38182,
      0.05294,
      0.05,
      0.10941
  ],
  "num": "154",
  },
  "room_31": {
    "bounding_box": [
      0.33091,
      0.05255,
      0.0497,
      0.1102
  ],
  "num": "155",
  },
  "room_32": {
    "bounding_box": [
      0.63394,
      0.40784,
      0.08788,
      0.14471
  ],
  "num": "Q1B"  
    },
  "room_33": {
    "bounding_box": [
      0.27182,
      0.45137,
      0.08788,
      0.18353
  ],
  "num": "Q1D"
  }
};

// Get the modal
var modal = document.getElementById('myModal');
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

var fakeDorm = $('<div>').css({
    position: 'absolute',
    left: 90,
    top: 170,
    width: 940,
    height: 730,
    'background-image': "url(<%= asset_path 'case.png' %>)",
    'background-size':  'contain',
    border: '5px solid black',
}).appendTo('body');

var room, val;
for (var key in data) {
    if (data.hasOwnProperty(key)) {
      val = data[key];
      var room = $('<div>').css({
          position: 'absolute',
          left: ''+100*(val.bounding_box[0])+'%',
          top: 100*(val.bounding_box[1])+'%',
          height: 100*(val.bounding_box[3])+'%',
          width: 100*(val.bounding_box[2])+'%',
      }).appendTo(fakeDorm);
      
      room.on('mouseenter', function(){
         $(this).css({
             background: 'grey',
         }); 
      });
      
      room.on('mouseleave', function(){
         $(this).css({
             background: 'none',
         }); 
      });
      
      room.on('click', function(){
         modal.style.display = "block";
      });
      
    }
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
window.onkeyup = function(event) {
  if (event.keyCode == 27) {
    modal.style.display = "none";
  }
}
</script>

<!-- Script for using radio buttons to show input field on the pull request
  General code structure adapted from: https://www.aspsnippets.com/Articles/Show-Hide-DIV-with-TextBox-based-on-RadioButton-selection-checked-unchecked-using-JavaScript-and-jQuery.aspx 

  "require-if active" from: https://css-tricks.com/exposing-form-fields-radio-button-css/ !-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("input[name='roommate-nums']").click(function () {
            if ($("#1-roommates").is(":checked")) {
                $("#roommate-1").show(); $("#roommate-2").hide(); $("#roommate-3").hide(); $("#roommate-4").hide(); $("#roommate-5").hide();
            } else if ($("#2-roommates").is(":checked")) {
                $("#roommate-1").hide(); $("#roommate-2").show(); $("#roommate-3").hide(); $("#roommate-4").hide(); $("#roommate-5").hide();
            } else if ($("#3-roommates").is(":checked")) {
                $("#roommate-1").hide(); $("#roommate-2").hide(); $("#roommate-3").show(); $("#roommate-4").hide(); $("#roommate-5").hide();
            } else if ($("#4-roommates").is(":checked")) {
                $("#roommate-1").hide(); $("#roommate-2").hide(); $("#roommate-3").hide(); $("#roommate-4").show(); $("#roommate-5").hide();
            } else if ($("#5-roommates").is(":checked")) {
                $("#roommate-1").hide(); $("#roommate-2").hide(); $("#roommate-3").hide(); $("#roommate-4").hide(); $("#roommate-5").show();
            } else {
                $("#roommate-1").hide(); $("#roommate-2").hide(); $("#roommate-3").hide(); $("#roommate-4").hide(); $("#roommate-5").hide();            
            } 
        });
      // find each input that may be hidden or not
      $(".require-if-active").each(function() {
        var el = $(this);
        // find the pairing radio or checkbox
        if ($(el.data("require-pair")).is(":checked")) {
          // if its checked, the field should be required
          el.prop("required", true);
        } else {
          // otherwise it should not
          el.prop("required", false);
        }
      });
    });
</script>

