<p id="notice"><%= notice %></p>

<style type="text/css">
/*Following Modal was taken from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
}
/* The Close Button */
.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}
</style>

<p>
  <strong>Name:</strong>
  <%= @dorm.name %>
</p>

<%= link_to 'Edit', edit_dorm_path(@dorm) %> |
<%= link_to 'Back', dorms_path %>

<div class="container">
    <div class="row">

        <div class="col-md-7">
            <div class="btn-group">
                <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Change Dorms <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                <li><a href="#">Atwood</a></li>
                <li class = "active"><a href=/dorms/case>Case</a></li>
                <li><a href=/dorms/east>East</a></li>
                <li><a href="#">Drinkward</a></li>
                <li><a href="#">Linde</a></li>
                <li><a href=/dorms/north>North</a></li>
                <li><a href=/dorms/south>South</a></li>
                <li><a href=/dorms/west>West</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <ul class="dropdown-menu">
            <li class = "active"><a href=/dorms/case>First Floor</a></li>
            <li><a href=/dorms/case2>Second Floor</a></li>
            </ul>
        </div>

        <h1><br></h1>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Pull request initiated</h2>
    </div>
    <div class="modal-body">
      <p>You have begun a pull request for this room</p>
      <p>The following form must be filled out in order to pull a room:</p>
            <div class="form-group">
            <label for="usr">roomNum</label>
            <input type="text" class="form-control" id="usr">
            </div>


            <div class="form-group">
            <label for="roommate">Roommate:</label>
            <input type="password" class="form-control" id="pwd">
            </div>
    </div>
  </div>

</div>

<script type="text/javascript">
var data = {
    "floors": {
        "1": {
          "room_0": {
            "bounding_box": {
              "x": 0.1603,
              "y": 0.27373,
              "w": 0.08242,
              "h": 0.06353
            },
            "num": "101",
          },
          "room_1": {
            "bounding_box": {
              "x": 0.1603,
              "y": 0.34,
              "w": 0.08242,
              "h": 0.06353
            },
            "num": "102",
          },
          "room_2": {
            "bounding_box": {
              "x": 0.1603,
              "y": 0.40588,
              "w": 0.08242,
              "h": 0.06392
          },
          "num": "103",
          },
          "room_3": {
            "bounding_box": {
              "x": 0.1603,
              "y": 0.47216,
              "w": 0.08242,
              "h": 0.06353
          },
          "num": "104",
          },
          "room_4": {
            "bounding_box": {
              "x": 0.17727,
              "y": 0.53843,
              "w": 0.06545,
              "h": 0.05922
          },
          "num": "105",
          },
          "room_5": {
            "bounding_box": {
              "x": 0.17727,
              "y": 0.60039,
              "w": 0.06545,
              "h": 0.05686
          },
          "num": "106"
          },
          "room_6": {
            "bounding_box": {
              "x": 0.17727,
              "y": 0.66,
              "w": 0.06545,
              "h": 0.05922
          },
          "num": "107",
          },
          "room_7": {
            "bounding_box": {
              "x": 0.17727,
              "y": 0.72157,
              "w": 0.06545,
              "h": 0.05725
          },
          "num": "108",
          },
          "room_8": {
            "bounding_box": {
              "x": 0.27121,
              "y": 0.81608,
              "w": 0.04485,
              "h": 0.08392
          },
          "num": "118",
          },
          "room_9": {
            "bounding_box": {
              "x": 0.31758,
              "y": 0.81569,
              "w": 0.04455,
              "h": 0.08471
          },
            "num": "119",
          },
          "room_10": {
            "bounding_box": {
              "x": 0.36364,
              "y": 0.81608,
              "w": 0.04636,
              "h": 0.08392
          },
          "num": "120",
          },
          "room_11": {
            "bounding_box": {
              "x": 0.41152,
              "y": 0.81569,
              "w": 0.04576,
              "h": 0.08471
          },
          "num":"21",
          },
          "room_12": {
            "bounding_box": {
              "x": 0.45879,
              "y": 0.81569,
              "w": 0.0497,
              "h": 0.10627
          },
          "num": "122",
          },
          "room_13": {
            "bounding_box": {
              "x": 0.51,
              "y": 0.81608,
              "w": 0.0497,
              "h": 0.10588
          },
          "num": "123",
          },
          "room_14": {
            "bounding_box": {
              "x": 0.56091,
              "y": 0.81569,
              "w": 0.05,
              "h": 0.10627
          },
          "num": "124",
          },
          "room_15": {
            "bounding_box": {
              "x": 0.61212,
              "y": 0.81608,
              "w": 0.04848,
              "h": 0.10588
          },
            "num": "125",
          },
          "room_16": {
            "bounding_box": {
              "x": 0.74727,
              "y": 0.63922,
              "w": 0.08394,
              "h": 0.06275
          },
          "num": "140",
          },
          "room_17": {
            "bounding_box": {
              "x": 0.74727,
              "y": 0.57333,
              "w": 0.08394,
              "h": 0.06353
          },
          "num": "141",
          },
          "room_18": {
            "bounding_box": {
              "x": 0.74727,
              "y": 0.50706,
              "w": 0.08394,
              "h": 0.06353
          },
          "num": "142",
          },
          "room_19": {
            "bounding_box": {
              "x": 0.74727,
              "y": 0.43922,
              "w": 0.08394,
              "h": 0.0651
          },
          "num": "143",
          },
          "room_20": {
            "bounding_box": {
              "x": 0.74727,
              "y": 0.37922,
              "w": 0.06697,
              "h": 0.05765
          },
          "num": "144",
          },
          "room_21": {
            "bounding_box": {
              "x": 0.74727,
              "y": 0.31765,
              "w": 0.06697,
              "h": 0.05922
          },
          "num": "145",
          },
          "room_22": {
            "bounding_box": {
              "x": 0.74727,
              "y": 0.25765,
              "w": 0.06697,
              "h": 0.05804
          },
          "num": "146",
          },
          "room_23": {
            "bounding_box": {
              "x": 0.74727,
              "y": 0.19647,
              "w": 0.06697,
              "h": 0.05922
          },
          "num": "147",
          },
          "room_24": {
            "bounding_box": {
              "x": 0.67394,
              "y": 0.0749,
              "w": 0.04303,
              "h": 0.08784
          },
          "num": "148",
          },
          "room_25": {
            "bounding_box": {
              "x": 0.62788,
              "y": 0.0749,
              "w": 0.04485,
              "h": 0.08745
          },
          "num": "149",
          },
          "room_26": {
            "bounding_box": {
              "x": 0.5803,
              "y": 0.0749,
              "w": 0.04636,
              "h": 0.08784
          },
          "num": "150",
          },
          "room_27": {
            "bounding_box": {
              "x": 0.53545,
              "y": 0.0749,
              "w": 0.04333,
              "h": 0.08745
          },
          "num": "151",
          },
          "room_28": {
            "bounding_box": {
              "x": 0.48424,
              "y": 0.05294,
              "w": 0.05,
              "h": 0.10941
          },
          "num": "152",
          },
          "room_29": {
            "bounding_box": {
              "x": 0.43303,
              "y": 0.05255,
              "w": 0.05,
              "h": 0.1102
          },
          "num": "153",
          },
          "room_30": {
            "bounding_box": {
              "x": 0.38182,
              "y": 0.05294,
              "w": 0.05,
              "h": 0.10941
          },
          "num": "154",
          },
          "room_31": {
            "bounding_box": {
              "x": 0.33091,
              "y": 0.05255,
              "w": 0.0497,
              "h": 0.1102
          },
          "num": "155",
          },
          "room_32": {
            "bounding_box": {
              "x": 0.63394,
              "y": 0.40784,
              "w": 0.08788,
              "h": 0.14471
          },
          "num": "Q1B"  
            },
          "room_33": {
            "bounding_box": {
              "x": 0.27182,
              "y": 0.45137,
              "w": 0.08788,
              "h": 0.18353
          },
          "num": "Q1D"
          }
      },
      
      "2": {
          "room_0": {
            "bounding_box": {
              "x": 0.1703,
              "y": 0.29451,
              "w": 0.0803,
              "h": 0.06196
            }
          },
          "room_1": {
            "bounding_box": {
              "x": 0.1703,
              "y": 0.35882,
              "w": 0.0803,
              "h": 0.06196
            }
          },
          "room_2": {
            "bounding_box": {
              "x": 0.1703,
              "y": 0.42314,
              "w": 0.0803,
              "h": 0.06196
            }
          },
          "room_3": {
            "bounding_box": {
              "x": 0.1703,
              "y": 0.48745,
              "w": 0.0803,
              "h": 0.06196
            }
          },
          "room_4": {
            "bounding_box": {
              "x": 0.18697,
              "y": 0.55176,
              "w": 0.06364,
              "h": 0.05765
            }
          },
          "room_5": {
            "bounding_box": {
              "x": 0.18697,
              "y": 0.61216,
              "w": 0.06364,
              "h": 0.05529
            }
          },
          "room_6": {
            "bounding_box": {
              "x": 0.18697,
              "y": 0.6698,
              "w": 0.06364,
              "h": 0.05765
            }
          },
          "room_7": {
            "bounding_box": {
              "x": 0.18697,
              "y": 0.7298,
              "w": 0.06364,
              "h": 0.05569
            }
          },
          "room_8": {
            "bounding_box": {
              "x": 0.27818,
              "y": 0.82118,
              "w": 0.04364,
              "h": 0.08196
            }
          },
          "room_9": {
            "bounding_box": {
              "x": 0.32333,
              "y": 0.82118,
              "w": 0.04333,
              "h": 0.08235
            }
          },
          "room_10": {
            "bounding_box": {
              "x": 0.36788,
              "y": 0.82157,
              "w": 0.04515,
              "h": 0.08157
            }
          },
          "room_11": {
            "bounding_box": {
              "x": 0.41424,
              "y": 0.82118,
              "w": 0.04485,
              "h": 0.08235
            }
          },
          "room_12": {
            "bounding_box": {
              "x": 0.4603,
              "y": 0.82118,
              "w": 0.04848,
              "h": 0.10353
            }
          },
          "room_13": {
            "bounding_box": {
              "x": 0.51,
              "y": 0.82157,
              "w": 0.04848,
              "h": 0.10314
            }
          },
          "room_14": {
            "bounding_box": {
              "x": 0.5597,
              "y": 0.82118,
              "w": 0.04848,
              "h": 0.10353
            }
          },
          "room_15": {
            "bounding_box": {
              "x": 0.60939,
              "y": 0.82157,
              "w": 0.04727,
              "h": 0.10314
            }
          },
          "room_16": {
            "bounding_box": {
              "x": 0.74061,
              "y": 0.6498,
              "w": 0.08152,
              "h": 0.06078
            }
          },
          "room_17": {
            "bounding_box": {
              "x": 0.74061,
              "y": 0.58588,
              "w": 0.08152,
              "h": 0.06157
            }
          },
          "room_18": {
            "bounding_box": {
              "x": 0.74061,
              "y": 0.52118,
              "w": 0.08152,
              "h": 0.06235
            }
          },
          "room_19": {
            "bounding_box": {
              "x": 0.74061,
              "y": 0.45529,
              "w": 0.08152,
              "h": 0.06353
            }
          },
          "room_20": {
            "bounding_box": {
              "x": 0.74061,
              "y": 0.39725,
              "w": 0.06515,
              "h": 0.05608
            }
          },
          "room_21": {
            "bounding_box": {
              "x": 0.74061,
              "y": 0.33765,
              "w": 0.06515,
              "h": 0.05725
            }
          },
          "room_22": {
            "bounding_box": {
              "x": 0.74061,
              "y": 0.27922,
              "w": 0.06515,
              "h": 0.05608
            }
          },
          "room_23": {
            "bounding_box": {
              "x": 0.74061,
              "y": 0.21961,
              "w": 0.06515,
              "h": 0.05765
            }
          },
          "room_24": {
            "bounding_box": {
              "x": 0.66939,
              "y": 0.10157,
              "w": 0.04515,
              "h": 0.08549
            }
          },
          "room_25": {
            "bounding_box": {
              "x": 0.62485,
              "y": 0.10157,
              "w": 0.04333,
              "h": 0.0851
            }
          },
          "room_26": {
            "bounding_box": {
              "x": 0.57848,
              "y": 0.10157,
              "w": 0.04485,
              "h": 0.08549
            }
          },
          "room_27": {
            "bounding_box": {
              "x": 0.53485,
              "y": 0.10118,
              "w": 0.04212,
              "h": 0.08588
            }
          },
          "room_28": {
            "bounding_box": {
              "x": 0.48515,
              "y": 0.08039,
              "w": 0.04848,
              "h": 0.10627
            }
          },
          "room_29": {
            "bounding_box": {
              "x": 0.43545,
              "y": 0.08,
              "w": 0.04848,
              "h": 0.10706
            }
          },
          "room_30": {
            "bounding_box": {
              "x": 0.38576,
              "y": 0.08039,
              "w": 0.04848,
              "h": 0.10627
            }
          },
          "room_31": {
            "bounding_box": {
              "x": 0.33606,
              "y": 0.08,
              "w": 0.04848,
              "h": 0.10706
            }
          },
          "room_32": {
            "bounding_box": {
              "x": 0.62909,
              "y": 0.36235,
              "w": 0.08848,
              "h": 0.18706
            }
          },
          "room_33": {
            "bounding_box": {
              "x": 0.38697,
              "y": 0.67216,
              "w": 0.14545,
              "h": 0.11294
            }
          }
        },
    },
  };

// Get the modal
var modal = document.getElementById('myModal');
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

var fakeDorm = $('<div>').css({
    position: 'absolute',
    left: 90,
    top: 250,
    width: 877,
    height: 680,
    'background-image': "url(<%= asset_path 'case.png' %>)",
    'background-size':  'contain',
    border: '5px solid black',
}).appendTo('body');

var room, val;
var floor = data.floors[1];
console.log(floor);
for (var key in floor) {
    if (floor.hasOwnProperty(key)) {
      val = floor[key];
      var room = $('<div>').css({
          position: 'absolute',
          left: 100*(val.bounding_box.x)+'%',
          top: 100*(val.bounding_box.y)+'%',
          height: 100*(val.bounding_box.h)+'%',
          width: 100*(val.bounding_box.w)+'%',
      }).appendTo(fakeDorm);
      
      room.on('mouseenter', function(){
         $(this).css({
             background: 'grey',
             opacity: .5,
         }); 
      });
      
      room.on('mouseleave', function(){
         $(this).css({
             background: 'none',
         }); 
      });
      
      room.on('click', function(){
         modal.style.display = "block";
      });
    }
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>
