
<!-- CSS location: app/assets/stylesheets/dorms.scss -->
<div>
  <% flash.each do |key, value| %>
    <div class="alert-div alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <p>
    <% if current_user.is_admin? %>
      <%= link_to 'Edit', edit_dorm_path(@dorm) %> |
      <%= link_to 'Go Back', dorms_path %>
    <% end %>
    <br>
  </p>
</div>

<div class="fixed">
  <p>
    <strong>Dorm:</strong> <%= @dorm.name %>
  </p>
  <div class="dropdown" style="padding-right:700px">
      <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= @dorm.name %> 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @dorms.each do |dorm| %>
            <li><%= link_to dorm.name, dorm, :"data-turbolinks" => false %></li>
        <% end %>
      </ul>
  </div>
  <!-- Buttons which let people actually initiate pull -->
  <br/>
  <% if @admin %>
    <% if @student && @period %>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="pull-as-student">
        <label class="form-check-label" for="pull-as-student">Pull as Student</label>
      </div>
    <% end %>
    <div id="admin-pull-options" style="display:none;">
      <button id="admin-create-pull" class="btn btn-primary">Create Pull</button>
      <button id="admin-mark-unpullable" class="btn btn-warning">Mark Unpullable</button>
      <%= form_for("/admin/map", method: "delete_mark", data: { confirm: 'Are you sure?' } ) do |f| %>
        <%= text_field_tag(:redirect_path, value=(@dorm.nil? ? nil : dorm_path(@dorm)), class: "hidden") %>
        <%= text_field_tag(:dorm, value=@dorm.name, class: "hidden") %>
        <%= text_field_tag(:room, value="", :id=>"mark-available-room", class: "hidden") %>
        <%= submit_tag("Delete RoomAssignments/Pulls", class: "btn btn-info", :id =>"admin-mark-available") %>
      <% end %>

    </div>
  <% end %>
  <button id="student-create-pull"  style="display:none;">Create Pull</button>
</div>

<div style="margin-bottom: 20px;">
  <div class="input-color">
    <input type="text" value="vacant" readonly></input>
      <div class="color-box" style="background-color: rgb(0, 127, 163);"></div></br>
    <input type="text" value="pullable" readonly></input>
      <div class="color-box" style="background-color: rgb(183, 191, 16);"></div></br>
    <input type="text" value="not pullable or bumpable" readonly></input>
      <div class="color-box" style="background-color: rgb(91, 103, 112);"></div></br>
    <input type="text" value="room you are pulled into" readonly></input>
      <div class="color-box" style="background-color: rgb(234, 170, 0);"></div></br>
    <input type="text" value="selected" readonly></input>
      <div class="color-box selected" style="background-color: rgb(215, 66, 244);"></div></br>
  </div>
</div>

<br>


<!-- Admin Modal -->
<div id="admin-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Unpullable Form</h2>
    </div>
    <div class="modal-body">
      <!-- Unpullable Form -->
      <div class="popup-button" id="unpullable-form">
          <%= render "admin/unpullable_form", :dorm => @dorm.name, locals: {dorm_name: @dorm.name} %>
      </div>
    </div>
  </div>
</div>


<div id="admin-pull-form-modal" class="modal" style="overflow-y: scroll;">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Admin Pull request initiated</h2>
    </div>
    <div class="modal-body">
      <p>You have begun a pull request for this room</p>
      <p>The following form must be filled out in order to pull a room:</p>
      <div id="admin-multi-pull-form">
        <!-- Admin pull form gets inserted here -->
      </div>
    </div>
  </div>
</div>

<div id="pull-form-modal" class="modal" style="overflow-y: scroll;">
  <!-- Student Modal content -->
  <% if current_user.student != nil %>
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Pull request initiated</h2>
      </div>
      <div class="modal-body">
      <p>You have begun a pull request for this room</p>
        <p>The following form must be filled out in order to pull a room:</p>

          <div class="popup-button" id="pull-form">
          <div id="actual-pull-form">
            <!-- Student pull form gets inserted here -->
          </div>
        </div>
      </div>
    </div>  <!-- End of modal content -->
  <% else %>
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Pull request initiated</h2>
      </div>
      <div class="modal-body">
        <p>You are not a student and cannot create a pull. Please contact admin if you think this is a mistake.</p>
      </div>
    </div>  <!-- End of modal content -->
  <% end %> 
</div>

<div id="maps-source" style="display: none;">
  <!-- get dorm floor maps -->
  <% if !@floor1.nil?  %>
    <%= image_tag(@floor1, :id => "floor1", :class => "map", :data => {:dims => @floor1dims}) %>
  <% end %>
  <% if !@floor2.nil?  %>
    <%= image_tag(@floor2, :id => "floor2", :class => "map", :data => {:dims => @floor2dims}) %>
  <% end %>
  <% if !@floor3.nil?  %>
    <%= image_tag(@floor3, :id => "floor3", :class => "map", :data => {:dims => @floor3dims}) %>
  <% end %>
</div>

<script type="text/javascript">
  var userDrawNum = <%= @curPullNum %>;
  var userRankNum = <%= @curRankNum %>;
  var studentId = <%= @studentId %>;
  var mapLayout = <%= @json %>;
  var dormId = <%= @dorm.id %>;
  var admin = <%= @admin %>;
  var is_student = <%= @is_student %>;
  var period = <%= @period %>; 

  var level1 =  <%= @level1 %>;
  var level2 = <%= @level2 %>;
  var level3 = <%= @level3 %>;


  var curDorm = "<%= @dorm.name.downcase %>";
</script>


