<%= form_for("/admin/map", method: "edit_mark") do |f| %>
  <%= select(:dorm_name, :value, [
      ["Atwood", "atwood"],
      ["Case", "case"],
      ["Drinkward", "drinkward"],
      ["East", "east"],
      ["Linde", "linde"],
      ["North", "north"],
      ["Sontag", "sontag"],
      ["South", "south"],
      ["West", "west"],
      ], {:selected => @dorm.name}, {:class => 'form-control btn'}) %><br/>
  <br>
  <%= text_field_tag(:room, value="hello", :id=>"unpullable-room-num", class: "form-control") %><br/>
  <%= radio_button_tag(:mark_type, "freshman", true) %>
  <%= label_tag(:preplaced_frosh, "Frosh") %><br/>
  <%= radio_button_tag(:mark_type, "unavailable") %>
  <%= label_tag(:preplaced_offline, "Offline") %><br/>
  <%= radio_button_tag(:mark_type, "preplaced") %>
  <%= label_tag(:preplaced_preplaced, "Preplaced") %><br/>
  <%= radio_button_tag(:mark_type, "other") %>
  <%= label_tag(:preplaced_other, "Other") %><br/>
  <br>
  <%= label_tag(:description, "Description") %><br/>
  <%= text_area_tag(:description, nil, :class=> "form-control") %>
  <br>
  <%= f.submit "Delete Mark (make pullable)", name: "delete", class: "btn btn-info" %><br/>
  <br>
  <button type="submit" class="btn btn-info" data-dismiss="modal">Cancel</button><br/>
  <br>
  <%= submit_tag("Mark Unpullable", class: "btn btn-info") %>
  <hr>
<% end %>