<%= form_with(model: pull, local: true) do |form| %>
  <% if pull.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pull.errors.count, "error") %> prohibited this pull from being saved:</h2>

      <ul>
      <% pull.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
  </div>

  <div class="field">
    <%= form.label :pull_number %>
    <!-- TO DO: get best pull number based on students -->
    <%= form.text_field :pull_number, id: :pull_number %>
  </div>

  <!-- TO DO: Senior round -->

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :pull_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
