<%= form_with(model: pull, local: true) do |form| %>

  <% if pull.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pull.errors.count, "error") %> prohibited this pull from being saved:</h2>

      <ul>
      <% pull.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
  </div>

  <%= link_to "Add a student to this pull", {controller: "room_assignments", action: "new", id: pull.id} %>
  <br></br>

  <div class="field">
    <%= form.label :pull_number %>
    <%= form.collection_select :student_id, @pull.students, :id, :room_draw_number %>
  </div>

  <!-- TO DO: Senior rounds -->

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :pull_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

