<p id="notice"><%= notice %></p>

<h1>Pull List</h1>

<div class="center">
  <%= button_to 'Download', new_pull_path %>
  <%= button_to 'New Pull', new_pull_path %>
</div>

<br>
</br>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Names</th>
      <th>Rooms</th>
      <th>Message</th>
      <th>Actions</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @pulls.each do |pull| %>
      <tr>
        <td><%= pull.student.room_draw_number %></td> 
        <% @pull.students.each do |student| %>
          <td><%= student.user.first_name %></td>
          <td><%= student.user.last_name %></td>
        <% end %>
        <% @pull.room_assignments.each do |room_assignment|%>
          <td><%= student_name(room_assignment) %></td>
        <% end %>
        <td><%= pull.message %></td>
        <td><%= link_to 'Show', pull %></td>
        <td><%= link_to 'Edit', edit_pull_path(pull) %></td>
        <td><%= link_to 'Delete', pull, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

