<p id="notice"><%= notice %></p>

<% if current_user.is_admin? %>
<h1>Pull List</h1>
  <div class="center">
    <%= button_to 'Download', new_pull_path, :class => "button", :method => :get %>
    <%= button_to 'Create', new_pull_path, :class => "button", :method => :get  %>
  </div>

  <br>
  </br>
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Names</th>
        <th>Room</th>
        <th>Round</th>
        <th>Message</th>  
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @pulls.each do |pull| %>
        <tr>
          <td><%= pull.student.room_draw_number %></td> 
          
          <td>
          <% pull.room_assignments.each do |room_assignment| %>
            <%= student_name(room_assignment) %>
          <% end %>
          </td>

          <td>
          <% pull.room_assignments.each do |room_assignment| %>
            <%= room_assignment.room.name %>
          <% end %>
          </td>
          
          <td><%= pull.round %></td>
          <td><%= pull.message %></td>
          <td><%= link_to 'Show', pull %>
          <%= link_to 'Edit', edit_pull_path(pull) %>
          <%= link_to 'Delete', pull, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!-- if the person viewing is a student -->
<% else %> 
<h1>My Pull</h1>
  <!-- if the student viewing has been pulled into a room -->
  <% if current_user.student.room_assignment %>
      <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Names</th>
          <th>Room</th>
          <th>Round</th> 
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @pulls.each do |pull| %>
          <% if pull.room_assignments.include?(current_user.student.room_assignment) %>
              <tr>
                <td><%= pull.student.room_draw_number %></td> 
                
                <td>
                <% pull.room_assignments.each do |room_assignment| %>
                  <%= student_name(room_assignment) %>
                <% end %>
                </td>

                <td>
                <% pull.room_assignments.each do |room_assignment| %>
                  <%= room_assignment.room.name %>
                <% end %>
                </td>
                
                <td>tbd</td>
                <td><%= link_to 'Delete', pull, method: :delete, data: { confirm: 'Are you sure you want to delete your pull? You cannot undo this action.' } %></td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
<!-- if the person viewing has not been pulled into a room -->
  <% else %>
      <p> You are currently not in a room. Please pull yourself into a room or be pulled by another person to view your pull. </p>
  <% end %>
<% end %>
