<p id="notice"><%= notice %></p>

<% if current_user.is_admin? %>
	<h1>Pull: <%= @pull.id %></h1>
	<h2>Senior Round: <%= @pull.round %></h2>

	<%= render 'currentList', pull: @pull, :redirect_path => pulls_path(@pull) %>

	<br></br>
	<%= link_to 'Back', pulls_path %>

<% else %>
	<br></br>
	<%= link_to 'Back', pulls_path %>

<% end %>
