<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @pull.message %>
</p>

<p>
  <strong>Student:</strong>
  <%= @pull.student %>
</p>

<%= link_to 'Edit', edit_pull_path(@pull) %> |
<%= link_to 'Back', pulls_path %>
