<p id="notice"><%= notice %></p>

<% if current_user.is_admin? %>
<h1>Pull <%= @pull.id %></h1>

<%= render 'currentList', pull: @pull %>

<%= link_to 'Edit', edit_pull_path(@pull) %>
<%= link_to 'Back', pulls_path %>

<% end %>