<p id="notice"><%= notice %></p>

<% if current_user.is_admin? %>
<h1>Create/Edit Pull</h1>

<%= link_to 'Add', add_student_to_pull_path %>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Number</th>
      <th>Room</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pull.room_assignments.each do |room_assignment| %>
      <tr>
        <td><%= student_name(room_assignment) %></td>
        <td><%= student_number(room_assignment) %></td>
        <td><%= room_assignment.room_id %></td>
        <td><%= link_to 'Delete', room_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'adminForm', pull: @pull %>

<%= link_to 'Back', pulls_path %>

<% else %> <!-- TO DO: ensure this separation is desired? -->
<p>
  <strong>Message:</strong>
  <%= @pull.message %>
</p>

<p>
  <strong>Student:</strong>
  <%= @pull.student %>
</p>

<%= link_to 'Edit', edit_pull_path(@pull) %> |
<%= link_to 'Back', pulls_path %>
<% end %>