<h1>Admin Settings</h1>

<%= button_to "Upload Roster", {action: "uploadRoster"}, {class: 'dashboard-button'} %>
<%= button_to "Download Students", {action: "downloadStudents"}, {class: 'dashboard-button'} %>
<%= button_to "Download Pulls", {action: "downloadPulls"}, {class: 'dashboard-button'} %>

<%= link_to "Maps", {}, {class: 'dashboard-link'} %>
<%= link_to "Pulls", {}, {class: 'dashboard-link'} %>
<%= link_to "Students", {}, {class: 'dashboard-link'} %>
<%= link_to "Send emails", {}, {class: 'dashboard-link'} %>

<div class="row top-buffer">
	<div class='col-sm-3'>
		<span>Start Date:</span>
	</div>
	<div class='col-sm-3'>
		<span>End Date:</span>
	</div>
</div>
<div class="row">
	<div class='col-sm-3'>
		<%= datetime_local_field() %>
	</div>
	<div class='col-sm-3'>
		<%= datetime_local_field() %>	
	</div>
	<div class='col-sm-3'>	
		<%= button_to "Submit", {action: "setStartEndDate"}%>
	</div>
</div>
