<h1>Admin Settings</h1>

<%= button_to "Upload Roster", {action: "uploadRoster"}, {class: 'dashboard-button'} %>
<%= button_to "Download Students", {action: "downloadStudents"}, {class: 'dashboard-button'} %>
<%= button_to "Download Pulls", {action: "downloadPulls"}, {class: 'dashboard-button'} %>
<%= button_to 'Download Non-participants', {action: "downloadNonParticipants"}, {class: 'dashboard-button'} %>

<%= link_to "Maps", {}, {class: 'dashboard-link'} %>
<%= link_to "Pulls", {}, {class: 'dashboard-link'} %>
<%= link_to "Students", {}, {class: 'dashboard-link'} %>
<%= link_to "Send emails", {action: "sendEmails"}, {class: 'dashboard-link'} %>
<%= link_to "View emails", {action: "viewEmails"}, {class: 'dashboard-link'} %>

<div class="row top-buffer">
	<div class='col-sm-3'>
		<span>Start Date:</span>
	</div>
	<div class='col-sm-3'>
		<span>End Date:</span>
	</div>
</div>
<div class="row">
	<%= form_tag("/admin/setStartEndDate", action: "setStartEndDate") do%>
		<div class='col-sm-3'>
			<%= select_datetime @start_datetime, prefix: :start_datetime%>
		</div>
		<div class='col-sm-3'>
			<%= select_datetime @end_datetime, prefix: :end_datetime%>
		</div>
		<div class='col-sm-3'>	
			<%= submit_tag "Submit"%>
		</div>
	<% end %>
</div>
