<p id="notice"><%= notice %></p>
<h1>Admin Home</h1>

<%= button_to 'Download Non-participants', {action: "downloadNonParticipants"}, {class: 'dashboard-button'} %>
<%= button_to 'Download Placements', {action: "downloadPlacements"}, {class: 'dashboard-button'} %>

<%= link_to "Maps", dorms_path, {class: 'dashboard-link'} %>
<%= link_to "Pulls", {}, {class: 'dashboard-link'} %>
<%= link_to "Students", admin_students_path, {class: 'dashboard-link'} %>
<%= link_to "Send emails", {action: "sendEmails"}, {class: 'dashboard-link'} %>
<%= link_to "View emails", {action: "viewEmails"}, {class: 'dashboard-link'} %>

<br>

<div>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Roster" %>
  <% end %>
</div> 

<br>
<h4>Schedule Draw Period</h4>

<% if @start != nil %>
  <p>Currently scheduled for <b><%= @start %></b> to <b><%= @end %></b>
    <%= link_to 'Cancel', @draw_period, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<%= render 'form', draw_period: @draw_period %>

