<p id="notice"><%= notice %></p>

<p>
  <strong>Start Time:</strong>
  <%= @draw_period.start.to_formatted_s(:rfc822) %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @draw_period.end.to_formatted_s(:rfc822) %>
</p>

<p>
  <strong>Last Updated By:</strong>
  <%= @draw_period.last_updated_by %>
</p>


<%= link_to 'Edit', edit_draw_period_path(@draw_period) %> |
<%= link_to 'Back', draw_periods_path %>
