<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= getStatus(@draw_period) %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @draw_period.start_datetime.to_formatted_s(:rfc822) %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @draw_period.end_datetime.to_formatted_s(:rfc822) %>
</p>

<p>
  <strong>Last Updated By:</strong>
  <%= getLastUpdater(@draw_period) %>
</p>

<%= link_to 'Cancel', @draw_period, method: :destroy, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_draw_period_path(@draw_period) %> |
<%= link_to 'Back', draw_periods_path %>
