<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Floor</th>
      <th>Number</th>
      <th>Capacity</th>
      <th>Dorm</th>
      <th>Dorm Name</th>
      <th>Suite</th>
      <th>Suite Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.floor %></td>
        <td><%= room.number %></td>
        <td><%= room.capacity %></td>
        <td><%= room.dorm %></td>
        <td><%= room.dorm.name %></td>
        <td><%= room.suite %></td>
        <td><%= room.suite ? room.suite.name : nil %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
