
<h1 style="color: #e7e7e7">Send Reminder Email</h1>


<body class="title">

<%= form_for @email, html: { multipart: true } do |f| %>
  <%= f.text_field :subject, class: 'subject', :required => true, :placeholder => 'Subject'%>
  <br>
  <%= f.text_field :description, class: 'message', :required => true, :placeholder => 'Message'%>
  <br>
  <%= f.date_select :created_at %>
  <br>
  <%= f.submit "Send Email"%>
<% end %>


</body>