
<h1 style='color: #E5E7E9'> Send Reminder Email</h1>
<br>
<body class="title">

<%= form_for @email, html: { multipart: true } do |f| %>
  <%= f.text_field :subject, class: 'subject', :required => true, :placeholder => 'Subject'%>
  <br>
  <%= f.text_field :description, class: 'message', :required => true, :placeholder => 'Message'%>
  <br>
  <%= f.date_select :sendDate %>
  <br>
  <div style='color: #E5E7E9'>
    <h3>Select email recipients</h3>
    <div class="field">
      <%= f.label :send_to_never_logged_in %><%= get_person_counts(:never_logged_in) %>
      <%= f.check_box :send_to_never_logged_in %>
    </div>
    <div class="field">
      <%= f.label :send_to_never_pulled_room %><%= get_person_counts(:never_pulled_room) %>
      <%= f.check_box :send_to_never_pulled_room %>
    </div>
    <div class="field">
      <%= f.label :send_to_formerly_in_room %><%= get_person_counts(:formerly_in_room) %>
      <%= f.check_box :send_to_formerly_in_room %>
    </div>
    <div class="field">
      <%= f.label :send_to_in_room %><%= get_person_counts(:in_room) %>
      <%= f.check_box :send_to_in_room %>
    </div>
    <div class="field">
      <%= f.label :send_to_admins %><%= get_person_counts("admin") %>
      <%= f.check_box :send_to_admins %>
    </div>
  </div>
  <%= f.submit "Save Scheduled Email"%>
<% end %>


</body>
