<h1>View Email</h1>

<p>
  Send Date: <%= @email.sendDate %>
  <h2>Sent to<%= recipients(@email) %></h2>
</p>

<p>
  <h3>Subject: <%= @email.subject %></h3>
</p>

<p>
  <strong>Description</strong>
  <%= @email.description %>
</p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Dorm:</strong>
  <%= @room.dorm %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @room.suite %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
