<% if current_user != nil && current_user.is_admin? %>
<h1 style="color: #5D6D7E">View all emails</h1>
  <table id="emails" class="sortable">
    <thead>
      <tr>
        <th>Created At </th>
        <th>Send Date</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Send To</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% Email.all.reverse.each do |email| %>
        <tr>
          <td><%= email.created_at %> </td>
          <td><%= email.sendDate %> </td>
          <td><%= email.subject %> </td>
          <td><%= email.description %> </td>
          <td>
            <% if email.send_to_never_logged_in %>
              <%= "Never logged in" %><br>
            <% end %>
            <% if email.send_to_never_pulled_room %>
              <%= "Never pulled room" %><br>
            <% end %>
            <% if email.send_to_formerly_in_room %>
              <%= "Formerly in room" %><br>
            <% end %>
            <% if email.send_to_in_room %>
              <%= "In room" %><br>
            <% end %>
            <% if email.send_to_admins %>
              <%= "Admins" %><br>
            <% end %>
          </td>
          <td><%= email.sent_status ? "Sent" : "Unsent" %> </td>
          <td><%= link_to 'Edit', edit_email_path(email) %></td>
          <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Email', new_email_path %>

<% else %> 
<h1>You don't have permission to access this page.</h1>
<% end %>