<nav class="navbar navbar-inverse bg-inverse">
    <div class = "container">
        <div class = "navbar-header">
            <%= link_to image_tag('logo-HMC.png', :size => "50x50"), root_path %>
        </div>
        <div class = "nav-tabs">
            <% if current_user %>
                <p class="nav navbar-text">
                    Signed in as <strong><%= current_user.first_name %> <%=current_user.last_name %></strong>
                    <% if current_user.has_student? %>
                      (<%= current_user.student.format_number %>)
                    <% end %>
                </p>

                <li class="nav navbar-text">
                    <%= link_to "Maps", dorms_path %>
                </li>
                <li class="nav navbar-text">
                    <%= link_to "Pulls", pulls_path %>
                </li>
                <% if current_user.is_admin %>
                  <li class="nav navbar-text">
                      <%= link_to "Users", admin_users_path %>
                  </li>
                  <li class="nav navbar-text">
                      <%= link_to "Students", admin_students_path %>
                  </li>
                  <li class="nav navbar-text">
                      <%= link_to "Emails", emails_path %>
                  </li>
                  <li class="nav navbar-text">
                      <%= link_to "Send Email", new_email_path %>
                  </li>
                <% else %>
                  <li class="nav navbar-text">
                      <%= link_to "Students", students_path %>
                  </li>
                <% end %>

                <li class="nav navbar-text navbar-right" >
                    <%= link_to "Logout", logout_path, id: "sign_out", method: :delete %>
                </li>
            <% else %>
                <li class="nav navbar-text">
                    <%= link_to "Login with Google", "/auth/google_oauth2", id: "sign_in" %>
                </li>
            <% end %>
        </div>
    </div>
</nav>
