
<!DOCTYPE html>
<html>
  <head>
    <title>RoomDraw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse bg-inverse">
    <div class = "container">
        <div class = "navbar-header">
        <div>
        <%= link_to image_tag('logo-HMC.png', :size => "50x50"), root_path %>
        # => <a href="/"><img src="/assets/images/logo-HMC.png" ></a>
        </div>
        <% if current_page?("/launch") %>
        <%= link_to "Home", "/launch", class: "navbar-brand" %>
        <% else %>
        <%= link_to "Home", root_path, class: "navbar-brand" %>
        <% end %>
        </div>
        <ul class= "nav navbar-nav">
            <li> 
            <% if current_page?("/launch") %>
            <%= link_to "Login with Google", "/auth/google_oauth2", id: "sign_in" %> 
            <% else %>
            <%= link_to "Logout", "/launch" %></li>
            <% end %>
        </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
