<!DOCTYPE html>
<html>
  <head>
    <title>RoomDraw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="controller-<%= controller_name %> action-<%= action_name %>">
    <%= render partial: "layouts/nav" %>
    <div style="margin-left: 15px">
      <p id="alert"><%= alert %></p>
  	  <%= yield %>
      <div style="height:30px;"></div>
    </div>
    <div>
      <h4 style="position:fixed; bottom: 0px; text-align: center; left:0; right:0; background-color: white; margin-bottom: 0; padding-bottom: 5px; z-index: 5;">RAL emails: abishop@hmc.edu, rparamastri@hmc.edu; Dean Mike: medwards@hmc.edu</h4>
    </div>
  </body>
</html>
