<!DOCTYPE html>
<html>
  <head>
    <title>RoomDraw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <%= render partial: "layouts/nav" %>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  
  <% if !current_user %>
  <body>
    <h1 style="text-align: center;">Welcome to Room Draw</h1>
    <h2 style="text-align: center;">Instructions:</h2>
    
    <p style="text-align: center;">
      1) Make sure you are an authenticated User (student).<br/>
      2) Login with your HMC google account.  You will then be redirected to a page where you can fill out the required CIS form.<br/>
      3) Fill out the CIS form.<br/>
      4) Select a room.  You will not be able to pull into a room until you have logged in and filled out the CIS form.<br/>
    </p>
  </body>
  <% end %>
  <%= yield %>
</html>
