<!DOCTYPE html>
<html>
  <head>
    <title>RoomDraw</title>
    <%= csrf_meta_tags %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class = "container">
        <div class = "navbar-header">
        <% if current_user == nil %>
          <%= link_to "Home", root_path, class: "navbar-brand" %>
        <% else %>
          <% if current_user.is_admin %>
            <%= link_to "Home", admin_home_path, class: "navbar-brand" %>
          <% else %>
            <%= link_to "Home", dorms_path, class: "navbar-brand" %>
          <% end %>
        <% end %>
        </div>
        <ul class= "nav navbar-nav">
            <li><% if current_user %>
                Signed in as <strong><%= current_user.first_name %> <%=current_user.last_name %></strong>!
                <%= link_to "Logout", logout_path, id: "sign_out", method: :delete %>
                <% else %>
                  <%= link_to "Login with Google", "/auth/google_oauth2", id: "sign_in" %>
                <% end %></li>
        </ul>
    </div>
  </nav>

    <p class = "notice"><%= notice %></p>
    <p class = "alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
