<!DOCTYPE html>
<html>
  <head>
    <title>RoomDraw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="controller-<%= controller_name %> action-<%= action_name %>">
    <%= render partial: "layouts/nav" %>
    <div style="margin-left: 15px">
      <p id="alert"><%= alert %></p>
  	  <%= yield %>
    </div>
  </body>
</html>
